{
    "singleQuote": true,
    "semi": false,
    "trailingComma": "all",
    "printWidth": 100,
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
